QMainWindow{
    background-color: black;
}

QGroupBox{
    border-radius: 10px;
}

QPushButton{
    background-color: black;
    font-family: arial;
    font-size: 20px;
}

QPushButton:pressed{
    border: none;
    border-radius: 3px;
    background-color: #19a6d1;
    color: black;
}

QLabel{
    font-family: arial;
    font-size: 17px;
}

QPushButton.colorButton{
    height: 30px;
    border-radius: 15px;
}
